<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @message.description %>
</p>
<%= link_to 'Back to index', messages_path %>
